<div class="row">
  <div class="twelve columns crumbs">
    <div class="<% if @step.to_s() == 'select' %>active <% end %>crumb"><%= _("Select") %></div>
    <div class="<% if @step.to_s() == 'describe' %>active <% end %>crumb"><%= _("Describe") %></div>
    <div class="<% if @step.to_s() == 'layout' %>active <% end %>crumb"><%= _("Layout") %></div>
  </div>
</div>
