<div class="row">
  <div class="eight columns">
    <div class="row">
      <div class="twelve columns">
        <h2><%= _("Atlas Creation Failed") %></h2>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <p><%= _("Unfortunately, your atlas failed to render. It's possible that it was an intermittent error, in which case you should try re-creating the atlas. If the problem persists, please %{open_issue} or email %{email_url} with details.") % { open_issue: link_to(_("open a GitHub issue"), "https://github.com/fieldpapers/fieldpapers/issues/"), email_url: mail_to("help@fieldpapers.org", nil, replace_at: "[at]", class: "email", encode: "hex", subject: "Atlas #{atlas.slug} failed to render") } %></p>
      </div>
    </div>
  </div>
</div>