<li>
<p><%= atlas_snapshot.atlas.creator_name %> uploaded a <%= link_to _("snapshot of page %{tp}") % { tp: atlas_snapshot.page.page_number }, snapshot_path(atlas_snapshot) %> <%= link_to _("%{time_period} ago") % { time_period: time_ago_in_words(atlas_snapshot.created_at) }, snapshots_path(month: atlas_snapshot.created_at.strftime("%Y-%m")) %></p>
</li>
