<p>Atlases | <%= link_to "Snapshots", snapshots_path %></p>

<% if @atlases.empty? %>
<p>No atlases.</p>
<% else %>
<%= paginate @atlases %>

<ul>
  <%= render partial: "atlas", collection: @atlases %>
</ul>

<%= paginate @atlases %>
<% end %>
