<ul>
<% @atlases.each do |atlas| %>
<li><%= link_to atlas.title, atlas_path(atlas) %> <%= atlas.creator_name %> <%= time_ago_in_words(atlas.created_at) %> ago</li>
<% end %>
</ul>

<%= paginate @atlases %>
