<div id="footer" class="row align-center">
  <div class="twelve columns">
    <a href="http://fieldpapers.org/"><b>Field Papers</b></a> is built by <a href="http://www.stamen.com">Stamen Design</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="#">About the Project</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="#">Metrics</a>&nbsp;&nbsp;/&nbsp;&nbsp;
    <a href="http://wiki.openstreetmap.org/wiki/Field_Papers" title="Check out the OSM help wiki.">Help</a>
    <br>
    <small>Map data <a href="http://www.openstreetmap.org/copyright">&copy; OpenStreetMap contributors</a>, <a href="http://maps.stamen.com/toner">Toner</a> by Stamen, <a href="http://www.bing.com/maps/">Bing</a> by Microsoft, or a combination thereof.</small>
  </div>
</div>
