<!-- Static navbar -->
<div id="nav">
    <div class="row">
        <div class="logo twelve columns">
            <a href="<%= root_path %>"><img src="/assets/logo-header.png" alt="Field Papers" height="58" width="200"></a>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <button id="nav-toggle">Menu</button>
            <ul class="navbar u-cf">
                <li class="nav-item">
                    <a href="#">
                        <div class="section">MAKE</div>
                        <div class="desc">an atlas to print</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <div class="section">UPLOAD</div>
                        <div class="desc">pages you've marked</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= atlases_path %>">
                        <div class="section">WATCH</div>
                        <div class="desc">recent activity</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= advanced_path %>">
                        <div class="section">EXTEND</div>
                        <div class="desc">with advanced tools</div>
                    </a>
                </li>
                <!--
                {if $request.authenticated}
                  <li class="nav-item">
                        <div class="section"><a href="{$base_dir}/atlases.php?user={$request.user.id}">{$request.user.name}</a></div>
                        <form id='logout_form' name='logout_form' method='POST' action='{$base_dir}/login.php'>
                            <a href="#" onClick="document.logout_form.submit();"><div class="desc">log out</div></a>
                            <input type='hidden' name='action' value='log out'>
                            <input type='hidden' name='redirect' value="{$base_dir}/">
                        </form>
                    </li>
                {else}
                    <li class="nav-item">
                        <div class="section"><a href="{$base_dir}/login.php">LOG IN</a></div>
                        <div class="desc">or <a href="{$base_dir}/registration.php">create an account</a></div>
                    </li>
                {/if}
                -->
            </ul>
        </div>
    </div>
</div>
