<% content_for :title, _("About") %>

<div class="row">
    <div class="twelve columns">
        <h2>About Field Papers</h2>
        <p>Field Papers is a tool to help you create a multi-page atlas of anywhere in the world. Once you print it, you can take it outside, into the field, to record notes and observations about the area you're looking at, or use it as your own personal tour guide in a new city. Keep your eye on the <strong><%= link_to "Watch", atlases_path %></strong> page for new atlases around the world.</p>
    <p><a href="https://www.flickr.com/photos/kachkaev/9009483494/" title="Вторая пензенская картовечеринка // Second mapping party in Penza, Russia by Alexander Kachkaev, on Flickr"><img src="https://farm3.staticflickr.com/2869/9009483494_17fb4033d7_b.jpg" style="width: 100%;" alt="Вторая пензенская картовечеринка // Second mapping party in Penza, Russia"></a><br>
<a href="https://www.flickr.com/photos/kachkaev/9008302727/" title="Вторая пензенская картовечеринка // Second mapping party in Penza, Russia by Alexander Kachkaev, on Flickr"><img src="https://farm6.staticflickr.com/5443/9008302727_857cc4475b_b.jpg" style="width: 100%" alt="Вторая пензенская картовечеринка // Second mapping party in Penza, Russia"></a><br />
        <small>Вторая пензенская картовечеринка // Second mapping party in Penza, Russia by Alexander Kachkaev, <a href="https://creativecommons.org/licenses/by/2.0/deed.en_GB">CC BY 2.0</a></small></p>
      <p>Later, you can photograph each page in the atlas, and upload back into Field Papers. These photographs are called "snapshots" on the site. When you upload a <%= link_to "snapshot", snapshots_path %>, it's connected automatically to the atlas from whence it came. You can transcribe any notes you made in the field into Field Papers (as points or areas) and share the result with your friends, or download your notes for later analysis.</p>
    <p>You don't need a <a href="https://en.wikipedia.org/wiki/Global_Positioning_System">GPS</a> to make a map or learn complicated desktop <a href="https://en.wikipedia.org/wiki/Geographic_information_system">GIS</a> software to use Field Papers.</p>

<p> This project is a continuation of <a href="https://walking-papers.org">Walking Papers</a>, which was built for the <a href="https://openstreetmap.org">OpenStreetMap</a> (OSM) editing community. Field Papers allows you to print multiple-page atlases using several map styles (including satellite imagery and black and white cartography to save ink) and has built in note annotation tools with GIS format downloads. Even though you can use Field Papers without creating an account, you also have the options of collecting any atlases you make under your own username.</p>

<p>Curious about <a href="https://openstreetmap.org">OSM</a>? It's a "wikipedia-style map of the world" that anyone can edit. Field Papers and Walking Papers both provide tools to “roundtrip” map data through paper, making it easier to collect on-the-ground information and edits to OSM data. If you'd like to learn how to make edits in OSM, please visit <a href="https://www.learnosm.org">Learn OSM</a>.</p>

            <p>
                <strong><a href="https://github.com/fieldpapers">Fork us on GitHub</a></strong> - Field Papers in an open source project hosted on GitHub.
            </p>

        <h2>History</h2>
        <p>
            The first version of Field Papers was <a href=https://stamen.com/announcing-field-papers-d861d59dd8be/">launched</a> in May 2012, in partnership with <a href="https://caerusassociates.com/ideas/maps-for-the-people-by-the-people/">Caerus Associates</a>. In June of 2013, <a href="https://stamen.com">Stamen</a> relaunched the site in collaboration with the <a href="https://www.usaid.gov/">U.S. Agency for International Development</a> (USAID) with major improvements to site performance, new metrics on atlas creation, as well as a general usability upgrade. In 2023, Field Papers <a href="https://stamen.com/a-new-home-for-field-papers/">became a project of OpenStreetMap US</a>.
        </p>
        
        <h2>Inspiration</h2>
        <p>
            The project is most particularly inspired by <a href="https://aaronland.info/">Aaron Cope then of Flickr</a> and <a href="https://www.reallyinterestinggroup.com/">Ben / Russell / Tom at Really Interesting Group</a>, whose <a href="https://bookcamp.pbworks.com/PaperCamp">Papercamp</a> / <a href="https://aaronland.info/talks/papernet/">Papernet</a> and <a href="https://www.reallyinterestinggroup.com/tofhwoti.html">Things Our Friends Have Written On The Internet 2008</a> help all this post-digital, medieval technology make sense.
        </p>
    </div>
</div>
