<h1>Welcome to Field Papers</h1>

<div class="row">
  <div class="col-md-4">
    <img src="/assets/atlases-large.gif">
    <p><a href="#">Make yourself an atlas</a></p>
    <p>Print out anywhere in the world.</p>
  </div>
  <div class="col-md-4">
    <img src="/assets/field-large.gif">
    <p><a href="#">Take it into the field</a></p>
    <p>Make your notes and observations.</p>
  </div>
  <div class="col-md-4">
    <img src="/assets/snapshots-large.gif">
    <p><a href="#">Capture your notes</a></p>
    <p><a href="#">Upload</a> pages you've photographed.</p>
  </div>
</div>
