<div class="row">
    <h2 class="twelve columns">Welcomes to Field Papers</h2>
</div>

<div class="row cards">
    <div class="four columns card">
        <a class="card-image" href="#"><img src="<%= asset_path 'atlases-large.gif' %>" alt="Hand-drawn graphic to represent making a Field Papers atlas"></a>
        <div class="card-details">
            <h5 class="card-title"><a href="#">Make yourself an atlas</a></h5>
            <p class="card-desc">Print out anywhere in the world.</p>
        </div>
    </div>

    <div class="four columns card">
        <a class="card-image" href="#"><img src="<%= asset_path 'field-large.gif' %>" alt="Hand-drawn graphic a Field Papers atlas out in the wild"></a>
        <div class="card-details">
            <h5 class="card-title"><a href="#">Take it into the field</a></h5>
            <p class="card-desc">Make your notes and observations.</p>
        </div>
    </div>

    <div class="four columns card">
        <a class="card-image" href="#"><img src="<%= asset_path 'snapshots-large.gif' %>" alt="Hand-drawn graphic to photographing a page in a Field Papers atlas"></a>
        <div class="card-details">
            <h5 class="card-title"><a href="#">Capture your notes</a></h5>
            <p class="card-desc"><b><a href="#">Upload</a></b> pages you've photographed.</p>
        </div>
    </div>
</div>
