<div class="row">
  <div class="eight columns">
    <h2>Upload MBTiles</h2>
    <form enctype="multipart/form-data" action="/mbtiles_uploader.php" method="POST">
        Upload your file: <input name="uploaded_mbtiles" type="file"><br>
        <input type="submit" value="Upload">
    </form>
  </div>
</div>