<p><%= link_to "Atlases", atlases_path %> | Snapshots</p>

<% if @snapshots.empty? %>
<p>No snapshots.</p>
<% else %>
<%= paginate @snapshots %>

<ul>
  <%= render partial: "snapshot", collection: @snapshots %>
</ul>

<%= paginate @snapshots %>
<% end %>
