/*
  All styles under 'atlases' path
 */

#atlas-locator-map {
  height: 140px;
}
#atlas-map {
  height: 500px;
}

#atlas-locator-map,
#atlas-map {
  border: 1px solid black
}

#atlas-locator-map {
  border-bottom: 0;
}

.atlas-map-overlay {
  position: absolute;
  z-index: 2;
  width: auto;
}

  .atlas-map-overlay.stacked {
    width: 1px;
  }

  .atlas-map-overlay.top-left {
    top: 0;
    left: 0;
  }

  .atlas-map-overlay.top-right {
    top: 0;
    right: 0;
  }

  .atlas-map-overlay.bottom-right {
    bottom: 0;
    right: 0;
  }

  .atlas-map-overlay.bottom-left {
    bottom: 0;
    left: 0;
  }

  .atlas-map-overlay .overlay-item {
    display: inline-block;
    background: black;
    padding: 1px 15px;
    margin: 0;
    color: white;
    width: auto;
    white-space: nowrap;
  }
    .atlas-map-overlay .overlay-item a {
      color: #fff !important;
    }

    .overlay-item.page-number {
      font-weight: 600;
      font-size: 34px;
    }

  .atlas-map-overlay button,
  .atlas-map-overlay a.button {
    padding: 0 15px;
    margin: 0;
    background: black;
    text-transform: none;
    color: white;
    white-space: nowrap;
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-decoration: underline;
    border-radius: 0;
    border: 0;
  }
  .atlas-map-overlay form {
    display: inline-block;
    margin: 0;
  }

.atlases-activity ul {
  margin-left: 40px;
}
.atlases-activity li p {
  margin: 0;
}
.atlases-activity .details {
  color: #aaa;
  margin-left: 1.5rem;

  -ms-word-break:   break-all;
    word-break:       break-word;
    word-wrap:        break-word;
    -webkit-hyphens:  auto;
       -moz-hyphens:  auto;
            hyphens:  auto;
}

#atlas-map .leaflet-control-zoom {
  top: 6.5rem;
}

#atlas-map.page-view .leaflet-control-zoom {
  top: 9.5rem;
}



.leaflet-pagelayout-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
}

.leaflet-pagelayout-container .page {
  position: absolute;
  border: 1px solid black;
}
  .leaflet-pagelayout-container .page.outer-top {
    border-top-width: 3px;
  }
  .leaflet-pagelayout-container .page.outer-bottom {
    border-bottom-width: 3px;
  }
  .leaflet-pagelayout-container .page.outer-left {
    border-left-width: 3px;
  }
  .leaflet-pagelayout-container .page.outer-right {
    border-right-width: 3px;
  }

  .leaflet-pagelayout-container .page.no-top {
    border-top: 0;
  }
  .leaflet-pagelayout-container .page.no-bottom {
    border-bottom: 0;
  }
  .leaflet-pagelayout-container .page.no-left {
    border-left: 0;
  }
  .leaflet-pagelayout-container .page.no-right {
    border-right: 0;
  }

.leaflet-pagelayout-container .page-link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #000 !important;
}

.leaflet-pagelayout-container .page-link:hover {
  background: transparent;
  background: rgba(255,255,255,0.3);
}

.leaflet-pagelayout-container .page-label{
  display: inline;
  position: absolute;
  padding: 2px 4px;
  left: 50%;
  top: 50%;
  background: white;
  background: rgba(255,255,255,0.7);
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
}