// Define global variables here


// overide skeleton variables here
$link-color: #09F;
$link-visited-color: #339;

$success-color: #dff0d8;
$info-color: #d9edf7;
$warning-color: #fcf8e3;
$error-color: #f2dede;
$hover-color: #fafafa;

// bump up min-width to test in browser
$bp-larger-than-mobile    : "min-width: 401px" !default;


// import skeleton
@import "vendor/skeleton";
