/*
  Site wide styles
*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:visited {
  color: $link-visited-color;
  text-decoration: underline;
}

#footer {
  margin-top: 60px;
}


// alerts & notices
.alert, .notice {
  display: none;
  padding: 10px;
}

.alert.active , .notice.active { display: block; }

.alert {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #a94442;
}

.notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


//inline-linkbar
.inline-linkbar {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  background: #000;
  color: #fff;
  font-weight: 800;
  z-index: 2;
}