/*
  Site wide styles
*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:visited {
  color: $link-visited-color;
  text-decoration: underline;
}

ul {
  list-style: disc;
}

#footer {
  margin-top: 60px;
}


// alerts & notices
.alert, .notice {
  display: none;
  padding: 10px;
}

.alert.active , .notice.active { display: block; }

.alert {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #a94442;
}

.notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

// forms
.form-help {
  color: #666;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  font-size: 1.2rem;
  font-style: italic;
}
.form-example .title {
  margin-bottom: 0.5rem;
  color: #666;
}

.form-example {
  margin-top: -1rem;
}
.form-example ul{
  margin-left: 0;
  list-style: none;
  width: 1px;
}
.form-example li {
  background: #eee;
  padding: 1px 10px;
  display: inline-block;
  white-space: nowrap;
}


//inline-linkbar
.inline-linkbar {
  position: relative;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  background: #000;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.inline-linkbar.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

  .inline-linkbar a {
    color: #fff !important;
    text-decoration: underline;
  }
  .inline-linkbar a:hover {
    text-decoration: none;
  }

label > .label-body {
  vertical-align: middle;
}

.form-helper {
  font-size: 1.2rem;
  margin-top: -1.2rem;
  color: #666;
  margin-left: 5px;
}

// Plain list
.plain-list {
  list-style: none;
}

// Options list
.options-list ul {
  list-style: disc;
  margin: 0 0 3rem 3rem;
}

.options-list .options-list-title {
  margin: 0 0 1rem;
  padding: 0;
  font-weight: bold;
}

// thumbnails
.thumbnail {
  display: inline-block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
}
.thumbnail.no-border {
  border: 0;
}

.thumbnail a>img,
.thumbnail>img {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

// progress bars
.progress-bar {
  height: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress-bar > span {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(54,175,186);
  -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
}

.form-help.progress-bar--help {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  float: right;
}