/*
  Misc classes that provide some sort of minor embellishment
 */

.embolden {
    font-weight: 800;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}