/*
  Misc classes that provide some sort of minor embellishment
 */

.embolden {
    font-weight: 800;
}

.align-center {
    text-align: center;
}

.align-center.small-screen {
  text-align: left;
}

@media (#{$bp-larger-than-phablet}) {
  .align-center.small-screen {
    text-align: center;
  }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.small {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}


.col-width-only { width: 100%; }

@media (#{$bp-larger-than-phablet}) {
  .one.col-width-only     { width: grid-column-width(1);  }
  .two.col-width-only     { width: grid-column-width(2);  }
  .three.col-width-only   { width: grid-column-width(3);  }
  .four.col-width-only    { width: grid-column-width(4);  }
  .five.col-width-only    { width: grid-column-width(5);  }
  .six.col-width-only     { width: grid-column-width(6);  }
  .seven.col-width-only   { width: grid-column-width(7);  }
  .eight.col-width-only   { width: grid-column-width(8);  }
  .nine.col-width-only    { width: grid-column-width(9);  }
  .ten.col-width-only     { width: grid-column-width(10); }
  .eleven.col-width-only  { width: grid-column-width(11); }
  .twelve.col-width-only  { width: 100%; margin-left: 0;  }

  .one-third.col-width-only    { width: grid-column-width(4);  }
  .two-thirds.col-width-only   { width: grid-column-width(8);  }
  .one-half.col-width-only     { width: grid-column-width(6);  }
}