$column-counts: 3;

.map-cards {
  margin-top: 2rem;
  list-style: none;
  @media (#{$bp-larger-than-tablet}) {}
}

.map-card {
  display: block;
  margin-bottom:15px;
  padding: 15px;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  background: #FEFEFE;
  background-image: linear-gradient(45deg, #FFF, #F9F9F9);
  color: #666;
  vertical-align: top;
  cursor: pointer;

  @media (#{$bp-larger-than-tablet}) {}
}

.map-card:first-child,
.map-card:nth-child(3n+1) {
  margin-left: 0 !important;
}

.map-card .no-wrap {
  overflow: hidden !important;
}

.map-card-preview {
  display: block;
  width: auto;
  height: auto;
  margin: 0 0 10px 0;
  padding: 0;
  text-decoration: none !important;
  font-size: 0;
}

  .map-card-preview img {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    width: auto;
    max-width: 100%;
    height: 240px;
    border: 0;

    @media (#{$bp-larger-than-tablet}) {
      //height: 148px;
    }
  }

  .map-card-preview.static-map > div {
    height: 240px;
  }
  .map-card-preview .leaflet-container {
    cursor: pointer;
  }


.map-card-pages,
.map-card-title {
  margin-right: 2px;
}

.atlas-status {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: green;
  border-radius: 8px;
}

.atlas-status.failed {
  background: red;
}

.atlas-status.incomplete {
  background: yellow;
}
