.map-container {
  position: relative;
  overflow: hidden;
}

#map {
  min-height: 300px;
}

#locator-map {
  height: 140px;
}

#map.detail {
  height: 500px;
}

#locator-map,
#map.detail {
  border: 1px solid black;
}

#locator-map {
  border-bottom: 0;
}

.map-overlay {
  position: absolute;
  z-index: 2;
  width: auto;
}

  .map-overlay.stacked {
    width: 1px;
  }

  .map-overlay.top-left {
    top: 0;
    left: 0;
  }

  .map-overlay.top-right {
    top: 0;
    right: 0;
  }

  .map-overlay.bottom-right {
    bottom: 0;
    right: 0;
  }

  .map-overlay.bottom-left {
    bottom: 0;
    left: 0;
  }

  .map-overlay .overlay-item {
    display: inline-block;
    background: black;
    padding: 1px 15px;
    margin: 0;
    color: white;
    width: auto;
    white-space: nowrap;
  }
    .map-overlay .overlay-item a {
      color: #fff !important;
    }

    .overlay-item.page-number {
      font-weight: 600;
      font-size: 34px;
    }

  .map-overlay button,
  .map-overlay a.button {
    padding: 0 15px;
    margin: 0;
    background: black;
    text-transform: none;
    color: white;
    white-space: nowrap;
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-decoration: underline;
    border-radius: 0;
    border: 0;
  }
  .map-overlay form {
    display: inline-block;
    margin: 0;
  }

#map.detail .leaflet-control-zoom {
  top: 6.5rem;
}

#map.page-view .leaflet-control-zoom {
  top: 9.5rem;
}

// markers
.atlas-boundingbox {
  stroke: #000;
  stroke-width: 2;
  stroke-opacity: 1;
  fill: yellow;
  fill-opacity: 0.4;
}

.atlas-boundingbox:hover {
    fill: steelblue;
}

// Page composer tool
.leaflet-areaselect-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.leaflet-areaselect-handle {
    position: absolute;
    background: #fff;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    margin-left: -7px;
    cursor: move;
}

.leaflet-areaselect-handle.scale-handle {
    background-color: white;
    border: solid 2px black;
    width: 10px;
    height: 10px;
}

.leaflet-areaselect-grid {
    position: absolute;
}

.leaflet-areaselect-grid .page {
    position: absolute;
    width: 1px;
    background: rgba(255,255,255,0);
    border: 1px solid #000;
}

.leaflet-areaselect-grid .page.outer-top {
  border-top-width: 3px;
}
.leaflet-areaselect-grid .page.outer-bottom {
  border-bottom-width: 3px;
}
.leaflet-areaselect-grid .page.outer-left {
  border-left-width: 3px;
}
.leaflet-areaselect-grid .page.outer-right {
  border-right-width: 3px;
}

.leaflet-areaselect-grid .page.no-top {
  border-top: 0;
}
.leaflet-areaselect-grid .page.no-bottom {
  border-bottom: 0;
}
.leaflet-areaselect-grid .page.no-left {
  border-left: 0;
}
.leaflet-areaselect-grid .page.no-right {
  border-right: 0;
}