@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  padding: 0px 10px;
  height: 58px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
