body {
  width: 100%;
  padding: 0;
  margin: 0;
  font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
  margin-bottom: 20px;
}

#container {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

/***************
SIDE MENU
**************/

#menu {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;

  width: 250px;
  height: 100vh;

  margin: 0;
  padding: 10px;
  padding-right: 0;

  border: 2px solid #eee;
  border-top: none;
}

#menu .field-papers-logo img {
  width: 90%;
  margin-top: 10px;
}

#menu h2 {
  padding-top: 5px;
  border-bottom: 2px solid #666;
  width: 95%;
  font-size: 1.2rem;
  letter-spacing: 0rem;
  font-weight: 300;
  text-transform: uppercase;
}

#menu input[type=text] {
  width: 85%;
  padding: 5px;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  color: #444;
  margin-top: 10px;
  margin-bottom: 30px;

  -webkit-appearance: none;
}

#menu input[type=submit] {
  display: inline-block;
  width: 30%;
  padding: 5px;
  color: #555555;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

#menu select {
  height: 25px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
}

#menu fieldset {
  border: none;
  padding: 0;
  margin: 10px 0;
  font-size: .9rem;
  color: #666;
}

/****************
MENU LABELS
*****************/

#menu .page-layout-label,
  #menu .col-row-modifiers-label,
  #menu .basemap-selector-label,
  #menu .atlas-location-and-name .title,
  #menu .atlas-location-and-name .notes {
    font-size: 0.9rem;
    color: #444;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/****************
SEARCH
*****************/

#menu .atlas-search-field {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-bottom: 5px;
  width: 100%;
  margin-top: -15px;
}

#menu .atlas-search-field .map-location-search-box {
  width: 60%;
  margin-bottom: 0px;
}

#menu .atlas-search-field .map-location-search-button {
  width: 32%;
  padding: 7px;
}

/**************
NOTES + CHECKBOX
***************/

#menu .atlas-location-and-name textarea {
  display: inline-block;
  width: 86%;
  max-width: 86%;
  padding: 5px;
  text-align: left;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  color: #444;
  margin-top: 10px;
  margin-bottom: 10px;

  -webkit-appearance: none;
}

#printing-information label  {
  font-size: 0.7rem;
}

#menu .private-map {
  margin-top: 30px;
}

/**************
BASEMAP OPTIONS
***************/

#menu .basemap-selector-label {
  margin-top: 10px;
  margin-bottom: 0;
}

#basemap-selector {
  margin-bottom: 30px;
}

/**************
PAGE ORIENTATION AND PAPER SIZE
***************/

#menu .page-sizing-and-orientation {
  display: flex;
  flex-flow: row;
  flex-flow: no-wrap;
  width: 100%;
}

#menu .page-sizing-and-orientation .page-layout-group {
  width: 45%;
  display: inline-block;
}

#menu .page-sizing-and-orientation .page-layout-group select{
  margin-top: 10px;
  margin-left: -2px;
  width: 95%;
  margin-bottom: 10px;
}

/**************
ROW AND COL MODIFIERS
***************/

#menu .col-row-modifiers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: left;
  margin-bottom: 5px;
  width: 100%;
}

#menu .col-row-modifiers-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: left;
  width: 45%;
}

#menu .grid-modifier-group {
  height: 20px;
  width: 80%;
  font-size: 13px;
  margin-bottom: 30px;
  /*padding: 5px;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-align: center;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
  user-select: none;
  margin-top: -10px;
}

#menu .grid-modifier-group div {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  width: 100%;
  height: 20px;
  padding-top: 2.5px;
  margin: 0;
  text-align: center;
}

#menu .grid-modifier-group .minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  background-color: #eee;
}

#menu .grid-modifier-group .plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  background-color: #eee;
}

#menu .number {
  flex-grow: 1;
  text-align: center;
}

/**************
ADD-ONS
***************/

#menu .add-ons {
  font-size: .8rem;
  color: #666;
}

#menu #final-step {
  width: 70%;
  margin-left: 10%;
  font-size: 15px;
  background-color: #444;
  color: #bbb;
  border-color: 1px solid #d1d1d1;
  margin-top: 10px;
  margin-bottom: 30px;
}

#menu #final-step:hover {
  color: #fff;
}

#big-map {
  margin: 0;
  margin-left: 250px;
  padding: 0;
  height: 100vh;
  width: calc(100vw - 250px);
}

/*
  All styles under 'atlases' path
 */

.atlases-activity ul {
  margin-left: 40px;
}
.atlases-activity li p {
  margin: 0;
}
.atlases-activity .details {
  color: #aaa;
  margin-left: 1.5rem;

  -ms-word-break:   break-all;
    word-break:       break-word;
    word-wrap:        break-word;
    -webkit-hyphens:  auto;
       -moz-hyphens:  auto;
            hyphens:  auto;
}

.leaflet-pagelayout-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
}

.leaflet-pagelayout-container .page {
  position: absolute;
  border: 1px solid black;
}
  .leaflet-pagelayout-container .page.outer-top {
    border-top-width: 3px;
  }
  .leaflet-pagelayout-container .page.outer-bottom {
    border-bottom-width: 3px;
  }
  .leaflet-pagelayout-container .page.outer-left {
    border-left-width: 3px;
  }
  .leaflet-pagelayout-container .page.outer-right {
    border-right-width: 3px;
  }

  .leaflet-pagelayout-container .page.no-top {
    border-top: 0;
  }
  .leaflet-pagelayout-container .page.no-bottom {
    border-bottom: 0;
  }
  .leaflet-pagelayout-container .page.no-left {
    border-left: 0;
  }
  .leaflet-pagelayout-container .page.no-right {
    border-right: 0;
  }

.leaflet-pagelayout-container .page-link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #000 !important;
}

.leaflet-pagelayout-container .page-link:hover {
  background: transparent;
  background: rgba(255,255,255,0.3);
}

.leaflet-pagelayout-container .page-label{
  display: inline;
  position: absolute;
  padding: 2px 4px;
  left: 50%;
  top: 50%;
  background: white;
  background: rgba(255,255,255,0.7);
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
}

.map-container {
  position: relative;
  overflow: hidden;
}

#big-map {
  min-height: 300px;
}

#locator-map {
  height: 140px;
}

#big-map.detail {
  height: 500px;
}

#locator-map,
#big-map.detail {
  border: 1px solid black;
}

#locator-map {
  border-bottom: 0;
}

.map-overlay {
  position: absolute;
  z-index: 2;
  width: auto;
}

  .map-overlay.stacked {
    width: 1px;
  }

  .map-overlay.top-left {
    top: 0;
    left: 0;
  }

  .map-overlay.top-right {
    top: 0;
    right: 0;
  }

  .map-overlay.bottom-right {
    bottom: 0;
    right: 0;
  }

  .map-overlay.bottom-left {
    bottom: 0;
    left: 0;
  }

  .map-overlay .overlay-item {
    display: inline-block;
    background: black;
    padding: 1px 15px;
    margin: 0;
    color: white;
    width: auto;
    white-space: nowrap;
  }
    .map-overlay .overlay-item a {
      color: #fff !important;
    }

    .overlay-item.page-number {
      font-weight: 600;
      font-size: 34px;
    }

  .map-overlay button,
  .map-overlay a.button {
    padding: 0 15px;
    margin: 0;
    background: black;
    text-transform: none;
    color: white;
    white-space: nowrap;
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-decoration: underline;
    border-radius: 0;
    border: 0;
  }
  .map-overlay form {
    display: inline-block;
    margin: 0;
  }

#big-map.detail .leaflet-control-zoom {
  top: 6.5rem;
}

#big-map.page-view .leaflet-control-zoom {
  top: 9.5rem;
}

// markers
.atlas-boundingbox {
  stroke: #000;
  stroke-width: 2;
  stroke-opacity: 1;
  fill: yellow;
  fill-opacity: 0.4;
}

.atlas-boundingbox:hover {
    fill: steelblue;
}

// Page composer tool
.leaflet-areaselect-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.leaflet-areaselect-shade {
    position: absolute;
    background: rgba(0,0,0, 0.3);
}

.leaflet-areaselect-handle {
    position: absolute;
    background: #fff;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    margin-left: -7px;
    cursor: move;
}

.leaflet-areaselect-handle.scale-handle {
    background-color: white;
    border: solid 2px black;
    width: 10px;
    height: 10px;
}


.leaflet-areaselect-handle .page-tool{
    background: transparent;
    width: auto;
    height: auto;
    margin: 0;
}

.modifier-btn {
    position: absolute;
    background: #fff;
    width: 18px;
    height: 18px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1;
    font-weight: 800;
    cursor: pointer;
    border: 2px solid #000;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;

    &:hover {
        background: #000;
        color: #fff;
    }
}

.modifier-btn > div {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.leaflet-areaselect-grid {
    position: absolute;
}

.leaflet-areaselect-grid .page {
    position: absolute;
    width: 1px;
    background: rgba(255,255,255,0);
    border: 1px solid #000;
}

.leaflet-areaselect-grid .page.outer-top {
  border-top-width: 3px;
}
.leaflet-areaselect-grid .page.outer-bottom {
  border-bottom-width: 3px;
}
.leaflet-areaselect-grid .page.outer-left {
  border-left-width: 3px;
}
.leaflet-areaselect-grid .page.outer-right {
  border-right-width: 3px;
}

.leaflet-areaselect-grid .page.no-top {
  border-top: 0;
}
.leaflet-areaselect-grid .page.no-bottom {
  border-bottom: 0;
}
.leaflet-areaselect-grid .page.no-left {
  border-left: 0;
}
.leaflet-areaselect-grid .page.no-right {
  border-right: 0;
}
